.footer-dark {
  padding: 100px 100px;
  color: white;
  background-color: black;
}

.footer-dark h5 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 40px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 20px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}
.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}
.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}
.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/*Heads*/
.h1, h3, h4, h2, .h3 {
  height: 100px;
  text-align: center;
  padding: 4rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}

h2 {
  font-size: 200px;
}

h4 {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

/*Header*/
.header {
  background-color: black;
  position: sticky;
  top: 1px;
  z-index: 50;
}
.header .logo {
  width: 300px;
}
.header .header__logo {
  display: inline-block;
  padding: 20px;
  margin-top: 20px;
}
.header .header__logo .facebook {
  height: 60px;
  width: 60px;
}
.header .header__logo .whatsapp {
  height: 60px;
  width: 60px;
}
.header .header__logo .instagram {
  height: 60px;
  width: 60px;
}
.header .nav-link {
  color: white !important;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.header .nav-item {
  color: white !important;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.header .navbar-toggler button {
  border: 1px solid white !important;
}
.header .btn {
  background-color: white !important;
}

/*Main*/
.main .col {
  margin-top: 40px !important;
  /*.main__destacados__parrafo {
    height: 10px;
    font-size: $font-size;
    font-family: $font-family;
    text-transform: uppercase;
    color: black;
    margin-top: 10px;
  }*/
}
.main .col .main__destacados__foto {
  width: 300px;
  height: 300px;
}
.main .cortesuso__titulo__tabla {
  display: flex;
  justify-content: center;
}
.main .cortesuso__titulo__tabla__li {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  border: 1px solid black;
  background-color: white;
  color: black;
  margin: 10px;
}
.main .cortesuso__titulo__tabla__li__a {
  text-decoration: none;
  color: inherit;
  font-size: 40px;
}
.main .cortesuso__titulo__tabla__li:hover {
  background-color: black;
  color: white;
}
.main .fotos_cocina {
  height: 370px;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.main .fotos_cocina_cocina img {
  width: 300px;
  height: 300px;
}
.main .recetas {
  height: 250px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  /*&__link__titulo {
    display: inline-block;
    padding: 20px 20px;
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;
    color: black;
    text-decoration: none;*/
}
.main .recetas__titulo {
  width: 50%;
  height: 150px;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  margin-left: 15px;
}
.main .recetas__link {
  height: 150px;
  font-size: 60px;
  margin-left: 100px;
}
.main .recetas__link__titulo:hover {
  background-color: black;
  color: white;
}

.recetas__link__titulo {
  display: inline-block;
  padding: 20px 20px;
  border: 5px solid black;
  border-radius: 50px;
  background-color: white;
  color: black;
  text-decoration: none;
}

.main__destacados__parrafo {
  color: black;
  font-size: 20px;
  font-family: "Open Sans";
  height: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

.h1, h3, .h3, h2, h4 {
  height: 100px;
  text-align: center;
  padding: 4rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}

h3 {
  text-align: left;
}

h2 {
  font-size: 200px;
}

h4 {
  text-align: center;
}

/*# sourceMappingURL=estilos.css.map */
