/*Heads*/

.h1 {
  height: 100px;
  text-align: center;
  padding: 4rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}

h3 {
  @extend.h1;
  text-align:left;
}

h2 {
  @extend.h1;
  font-size: 200px;
}

h4 {
  @extend.h1;
  text-align: center;
}
